{% extends 'website/base.html' %}
{% load static %}
{% block title %}Profile:{{user.username}}{% endblock %}
{% block content %}
<div class="row">
	<div class="container-fluid">
		<div class="col-md-3 photo">
			<div id='profile-picture'>
				{% if profile.avatar %}
					<img src='{{ profile.avatar.url}}' class='img img-responsive'>
				{% else %}
					<img src='{% static "website/images/profile-icon.png" %}' alt='image did not load' class='img img-responsive'>
				{% endif %}
			</div>
			<br>
			<center><p style='font-size: 110%'>{{profile.bio}}</p></center>
			<center>
				<h1 class='userinfo-head'>User Details : </h1>
				<p class='userinfo'><b>Username : </b>{{user.username}}</p>
				<p class='userinfo'><b>Name : </b>{{user.first_name}}&nbsp;&nbsp;{{user.last_name}}</p>
				<p class='userinfo'><b>Email : </b>{{user.email}}</p>
			</center>
		</div>
		<div class='col-md-9'>
			<div class="tab">
			  <button class="tablinks" onclick="openTab(event, 'Profile')">Profile</button>
			  <button class="tablinks" onclick="openTab(event, 'Material')">Material</button>
			  <button class="tablinks" onclick="openTab(event, 'Requests')">Requests</button>
			  <button class="tablinks" onclick="openTab(event, 'Network')">Network</button>
			</div>
			<div id='Profile' class='tabcontent'>
				<form action='{% url "website:update_profile" %}' method='post' enctype="multipart/form-data">
					{% csrf_token %}
					{% if error_message %}
						<div class='error'><p style='text-align: center;color:red'>{{error_message}}</p></div>
					{% endif %}
					<p class='profile-info' id='firstName'>First Name :   <input type='text' value='{{user.first_name}}' name='firstname'></p><br> 
					<p class='profile-info' id='lastName'>Last Name :   <input type='text' value='{{user.last_name}}' name='lastname'></p><br>
					<p class='profile-info' id='bio'>Bio : <br><br><textarea rows='5' cols='70' name='userbio'>{{profile.bio}}</textarea></p><br>
					<p class='profile-info' id='location'>Location : <input type='text' value='{{profile.location}}' name='userloc'></p><br>
					<p class='profile-info'>Date of Birth : <input placeholder='YYYY-MM-DD' type='text' value='{{profile.birth_date}}' name='bday' id='birthDate'></p><br>
					<p class='profile-info' id='fileUpload'>Change Avatar : <input type='file' name='avatar'></p><br>
					<input type='submit' class='btn btn-success save' value='Save' />&nbsp;&nbsp;
					<span id='bday_error' style='text-align: center;color:red'></span> 
				</form>   
			</div>
			<div id='Material' class='tabcontent'><br>
				<button class='btn btn-info btn-lg' data-toggle='modal' data-target='#addFile'>Share</button>&nbsp;&nbsp;
				<form role='form' action="{% url 'website:remove_share' %}" method='post'>
				{% csrf_token %}
					<br><br>
					<div class='itemdiv-wrapper'>
					{% for item in share %}
						<div class='sharedItems container-fluid'>
							<input type="text" hidden name="pk" value="{{item.pk}}"/>
							<label class="radio-inline">
								{% if forloop.first %}
	      							<input type="radio" name="optradio" value="{{item.name}}" checked>
	      						{% else %}
	      							<input type="radio" name="optradio" value="{{item.name}}">
	      						{% endif %}
	      						<span class='itemName'>Name : {{item.name}}</span><br>
	      						<span class='itemName'>Date Added : {{item.date_added}}</span><br>
	      						<span class='itemName'>Downloads : {{item.num_download}}</span>&nbsp;<span class='glyphicon glyphicon-download'></span><br>
	      						<span class='itemName'>Views : {{item.views}}</span>&nbsp;<span class='glyphicon glyphicon-eye-open'></span><br>
	    					</label>
						</div>
					{% endfor %}
					</div><br>
					<input class='btn btn-danger btn-lg' type='submit' value='Remove' />
				</form>
				<div class="modal fade" id="addFile" role="dialog">
				    <div class="modal-dialog">   
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h3 class="modal-title">Add Files to Repository</h3>
				        </div>
				        <div class="modal-body">
				          	<form role='form' action="{% url 'website:add_share' %}" method='post' enctype="multipart/form-data">
				          		{% csrf_token %}
				          		<div class='form-group'>
				          			<input type='text' class='form-control' name='sharedItemName' placeholder='Name your Added File'/><br>
				          			Add Files : <input type='file' name='uploadedfile' id='shareField'/><br>
				          			<input type='submit' class='btn btn-success' value='Add File' />
				          		</div>
				          	</form>
				        </div>
				        <div class="modal-footer">
				        	<h6><b>Allow your friends to see files added to your repository. User discretion is required.</b></h6>
				        </div>
				      </div>
				    </div>
				</div>
			</div>
			<div id='Requests' class='tabcontent'>
				<br>
				<div class="row">
					<div class="col-md-5">
						<p class="request-header">Sent Request</p>
						<br>
						{% for req in sent_req %}
							<div class="row">
								<div class="col-md-12 request-wrapper">
									<form role="form" action="{% url 'website:remove_request' 'withdraw' %}" method="post">
										{% csrf_token %}
										<span class="request-text">Friend Request sent to <b><i>{{req.friend_name}}</i></b></span>&nbsp;&nbsp;&nbsp;
										<input type="text" name="sender" value="{{req.user.username}}" hidden="true"/>
										<input type="text" name="reciever" value="{{req.friend_name}}" hidden="true"/>
										<input type="submit" class="btn btn-default" value="Withdraw" style="float:right"/>
									</form>
								</div>
							</div><br>
						{% endfor %}
					</div>
					<div class="col-md-5 col-md-offset-1">
						<p class="request-header">Incoming Request</p>
						<br>
						{% for req in recieved_req %}
							<div class="row">
								<div class="col-md-12 request-wrapper" style="border-left:10px solid #00ccff">
									<form role="form" action="{% url 'website:remove_request' 'accept' %}" method="post">
										{% csrf_token %}
										<span class="request-text">Friend Request recieved from <b><i>{{req.user.username}}</i></b></span>&nbsp;&nbsp;&nbsp;
										<input type="text" name="sender" value="{{req.user.username}}" hidden="true"/>
										<input type="text" name="reciever" value="{{req.friend_name}}" hidden="true"/>
										<input type="submit" class="btn btn-default" value="Accept" style="float:right"/>
									</form>
								</div>
							</div><br>
						{% endfor %}
					</div>
				</div>
			</div>
			<div id='Network' class='tabcontent'>
				<br>
				<div class="row">
				<div class="container-fluid">
				{% for item in network_list %}
					{% if forloop.counter|divisibleby:"2" %}
						<div class='row'>
					{% endif %}
						<div class="col-md-5 network-wrapper">
							<span style="float:left;margin-top:35px;margin-left:50px;font-size:100%;"><a href="{% url 'website:repository' item.username %}">{{item.first_name}}&nbsp;{{item.last_name}}<br>a.k.a - {{item.username}}</a></span>
							<img src='{{item.profile.avatar.url}}' alt="image not loaded" class="img img-responsive network-image"/>
						</div>
					{% if forloop.counter|divisibleby:"2" %}
						</div><br>
					{% endif %}
				{% endfor %}
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
//JQuery
var bool=true;
$(document).ready(function(){
	$('body').addClass('profileBack');
	$("#Profile").css('display','block');
	/*$(function(){
    	$("#birthDate").datepicker();
  	});*/
  	$('.navlist').removeClass('active');
  	$('#listProfile').addClass('active');
	document.getElementsByClassName("tablinks")[0].className+=" active";
	$('#birthDate').on('change',function(){
		//console.log('Hello');
		var dob = $('#birthDate').val();
		var re=/^\d\d\d\d-\d\d\-\d\d$/g;
		bool=re.test(dob);
		if(!bool){
			//console.log('Hello Correct');
			$('#bday_error').text('Birth Date format Wrong');
			$('.save').prop('disabled',true);
		}else{
			$('.save').prop('disabled',false);
			$("#bday_error").text("");
		}
	});
});
//JavaScript
function openTab(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
{% endblock %}